

/** --- main site styles --- **/

body {
    background: none !important;
}

#site-wrapper .wrapper {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: none;
}

a#regLink h2 {
    text-align: center;
}

a#regLink:hover {
    text-decoration: none;
}

.btn-link:hover
{
    text-decoration: none;
}

.shadow
{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

.bold
{
    font-weight: bold;
}

/** -- end of main site styles -- **/

p.mainTxt
{
    font-size:14px;
}

.footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    background:#F4F5F5;
    color:black;
}

.intranet .container .row
{
    margin:0 10px 0 10px;
}


button.btn-checkbox
{
    margin-bottom:10px;
}


.footer p
{
    text-shadow:6px 5px 8px #bababa;
}

.ui-nav
{
    background:#f5f5f5;
    padding:20px 0 20px 30px;

    border:1px solid #e3e3e3 !important;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.package-sections
{
    min-height:240px;
}

#numUsers
{
    font-weight:bold;
}

.package-sections:hover
{
    cursor:pointer;
    background: #fee9b0;
}

.package-selected
{
    background:#edd9a4;
}

.packages
{
    height: 600px;
    /* margin-top: -40px; */
}

.packageContent
{
    height: 350px;
}

.ui-widget-mod
{
    margin-bottom:10px;
    min-height:150px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.ui-widget-mod .module
{
    margin-bottom:0px;
}

.ui-widget-mod:hover
{
    background: #F3F1EE;
    opacity:0.8;
    filter:alpha(opacity=80);
}


.ui-widget-mod:hover > .ui-widget-alert
{
    display:block;
}

.ui-widget-mod .ui-widget-alert
{
    margin:10px 10px 0 10px;
    display:none;
}

.ui-widget-highlight
{
    min-height:300px;
    margin-bottom:10px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.widget-body
{
    padding:0;
    margin:4px 0;
}

.nav-tab-menu
{
    background:#f5f5f5;
    padding:20px 0 20px 20px;
    border:1px solid #e3e3e3;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}


.well-white
{
    min-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



#fileList .ui-selecting {
    background: #FECA40;
}

#fileList .ui-selected {
    background: #F39814; color: white;
    opacity:0.8;
    filter:alpha(opacity=80);
}

#fileList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#fileList li
{
    margin: 3px; padding: 1px; float: left; width: 100px; height: 100px; font-size: 0.9em; text-align: center; 
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background:none;
    border:none;
}

#fileList li:after
{

}

#fileList li:hover
{
    cursor:pointer;
}

#fileList li.moving
{
    opacity:0.4;
    filter:alpha(opacity=40);
    background:none;
    color:black;
}

#fileList li.hidden-doc
{
    opacity:0.4;
    filter:alpha(opacity=40);
    color:#444;
}

#fileList li.folder-highlight, #folderCrumbs li.folder-highlight, .folder-highlight, .folder-highlight span.fancytree-node
{
    background:#fffdc8;
}

/* styles for form builder */

ol#elementList li:hover, ol#elementList label:hover
{
    cursor:pointer;
}

#elementList .ui-selecting { background: #FECA40; }
#elementList .ui-selected { background: #F39814; color: white;
                            opacity:0.8;
                            filter:alpha(opacity=80);
}
#elementList { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#elementList li
{
    margin: 3px 3px 3px 3px;
    padding: 4px 1px 1px 1px; 
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background:white;
    border:none;
}

#elementList li.moving
{
    opacity:0.4;
    filter:alpha(opacity=40);
    background:none;
    color:black;
}

#elementListList li.hidden-doc
{
    opacity:0.4;
    filter:alpha(opacity=40);
    color:#444;
}

#elementList li.folder-highlight, #folderCrumbs li.folder-highlight, .folder-highlight
{
    background:#fffdc8;
}

table tbody tr td a
{
    /*margin-right:10px;*/
}


table.form-table, table.info-table
{
    width:100%
}

table.form-table td, table.info-table td
{
    padding:7px;
}

table.form-table input, table.form-table select, table.info-table input, table.info-table select
{
    margin-bottom:0;
}

table.form-table td:nth-child(even)
{
    text-align:left;
}


table.form-table td:nth-child(odd)
{
    font-weight:bold;
    text-align:right;
}

.formWrap
{
    padding-left: auto;
    padding-right: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#menu-li
{
    padding:0;
    margin:0;
}

#menu-li li
{
    padding:0;
    margin:0;
    list-style-type: none;
}


#doc-container .row-fluid
{
    margin-bottom:20px;
    text-align:center;
    font-size:0.9em;
}

#doc-container .span1
{
    display:block;
    max-height:135px;
    height:135px;
    width:80px;
}

input.doc-title
{
    font-size:16px;
    font-weight:bold;
    color:#444444;
}

.doc-title-row
{
    margin-bottom:10px;
}

.nav-input
{
    margin:15px 0 0 !important;
}

#right-click-menu
{
    position:absolute;
}

#right-click-menu .dropdown-menu
{
    display:block;
}

.ed-grad
{
    padding-left:15px;
    margin-right:-15px;
}

.module .inline h3
{
    display: inline;
    width: auto;
}

.module .inline button
{
    margin-top:-4px;
}

.table
{
    margin-bottom:20px !important;
}

.drag-icon
{
    font-size:50px ;
    line-height:normal !important;
}

table.table-hover:hover
{
    cursor:pointer;
}

.search-modal
{
    width:93%;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}


.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


.marketing
{
    margin: 60px 0;
}

.marketing p + h4
{
    margin-top: 28px;
}

.login-btn
{
    margin-top:15px !important;
}

.blog-preview-img
{
    display:inline-block;
    float:left;
    max-width:130px;
    max-height:130px;
    margin-right:10px;
    margin-bottom:10px;
}

.blog-body
{
    font-size:14px;
    margin-top:25px;
    margin-bottom:25px;
}

#portSort { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#portSort li.widget { float: left; height: 380px;  margin-bottom:15px; color:#777; }

#portSort li .panel-heading:hover
{
    cursor:move;
}

#portSort li.highlight
{

    background:#fffdc8;
}

#portSort li.widget:hover
{
    /* background:#fffdc8; */
}

#portSort li.span6:nth-child(odd)
{
    margin:0;
}

.module .draggable:hover
{
    cursor:move;
    z-index:10000;
}

.no-widget
{
    text-align:center;
    font-weight:bold;
    font-size:20px;
    border:3px dashed #777;
    height:98%;
    opacity:0.2;
    filter:alpha(opacity=20);
    line-height:100px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;

}

.no-widget:hover
{
    background:#fffdc8;
    opacity:0.8;
    filter:alpha(opacity=80);
}



.pos-numbers
{
    text-align:center;
}

.deleteLink
{
    color:red;
    font-size:15px;
    border:none;
    background:none;
}

.deleteLink:disabled
{
    color:#777;
}

.crm-notes
{
    margin-bottom:15px;
}

.time-select
{
    width:100px;
    float:left;
    margin-right:15px;
}

.time-select-event
{
    width:75px;
    float:left;
}

ul.list-group li.active
{
    background:#fffdc8;
}

#helpBtn {
    display: none;
}

#msgNotLi {
    display: none;
}

h1, h2, h3, h4, h5, label, button
{
    text-transform: capitalize;
}

h1
{
    margin-top:5px;
    color: #7C9F03;
}

#site-wrapper h1,
#site-wrapper h2,
#site-wrapper h3,
#site-wrapper h4,
#site-wrapper h5
{
    color: #7C9F03;
}

.ui-datepicker
{
    z-index:100 !important;
}

.ticket-number
{
    margin-left:10px;
    margin-top:3px;
}

.tech-name
{
    padding-left:15px;
}

.navbar-search
{
    margin:15px 0 0 0
}

.code-display
{
    margin-bottom:15px;
}

#pos-content .row
{
    /* border:1px solid black; */
}


.pos-heading
{
    text-align:center;
    font-weight:bold;
    font-size:1.4em;
    color:red;
}


.pos-numbers button
{
    font-size:4em;
    color:black;
    background: #f2f5f6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjVmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2UzZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOGQ3ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); 
    background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); 
    background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); 
    background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); 
}

dd
{
    padding-left:20px;
}

.form-actions
{
    border-top:2px dashed #c9c9c9;
    margin:15px 0 0 0;
    padding-top:15px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.btn-module
{
    margin:5px;
}

.ui-state-highlight 
{
    height: 1.5em; 
    line-height: 1.2em; 
}

.file-sortting
{
    background: #F3F1EE;
    opacity:0.8;
    filter:alpha(opacity=80);
    height:100px;
    width:100px;
}

span.label-schedule
{
    display:inline-block;
    margin-bottom:5px;
}

.btn-item
{
    font-size:1.2em !important;
}

.pos-folder
{
    font-size:4em;
}

.trans-total
{
    font-weight:bold;
    text-align:right;
}

table.trans-table
{
    /* font-size:11px; */
}

ul.ui-autocomplete
{
    z-index:10000;
}

.modal-hide
{
    opacity:0.95 !important;
}

#formHtmlContainer .form-group:hover
{
    background: #FEE9B2;
    cursor:pointer;
}

#formPropPanel .modal-dialog
{
    padding-top:0;
    margin-top:0;
}

#formPropPanel
{
    position:absolute;
    top:0;
    bottom:0;
    z-index:1000;
}

#formSort, .formSort { list-style-type: none; margin: 0; padding: 0; }
#formSort li, .formSort li { margin: 0; padding: 0; }
#formSort li:hover, .formSort li:hover{ cursor:move; }

#optionsSortList li
{
    margin-bottom:5px;
}

.unknownEmail
{
    /* color:#F00; */
}

.menu-header:hover
{
    cursor:move;
}

.msg-not-count
{
    color:#428BCA;
}

#ytVideoSortList iframe
{
    float:left;
    display:inline;
}

#ytVideoSortList li
{
    float:left;
    display:inline-block;
    min-width:252px;
    min-height:200px;
}


#imgSortList li
{
    float:left;
    display:inline-block;
    min-width:150px;
    min-height:150px;
    margin-right:10px;
}

.ytContainer
{
    /* border:1px dashed black; */
    float:left;
    display:inline-block;
    margin-right:10px;
    margin-bottom:10px;
    min-width:252px;
    min-height:200px;
}

.yt-primary
{
    background:#fffdc8;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.ytContainer .yt-body
{
    float:none;
    width:100%;
    display:block;
    min-height:158px;
}

.ytContainer .yt-footer
{
    float:none;
    margin-top:5px;
    padding-top:5px;
    border-top:1px solid #c9c9c9;
}

.from-name
{
    font-weight:bolder;
}

#tabPics #img
{
    margin-bottom:15px;
}

.img-sort
{
    float:left;
}

.territoryEditMap
{
    margin-bottom:20px;
    min-height:300px;
}

#map
{
    height: 300px;
}

#widgetMap
{
    width:100%;
    min-height:300px;
}

ul li.notLI
{
    background:#fffdc8;
}

ul li.notLI h2
{
    margin-top:0;
    padding-top:0;
}

ul li.notLI a i
{
    font-size:30px;
    margin-right:5px;
    font-weight:bolder;
}

ul li.notLI a
{
    font-size:14px;
    font-weight:bold;
}

.announce-subject
{
    margin-bottom:20px;
}

.announce-subject input
{
    min-height:50px;
    line-height:24px;
    font-size:24px;
    font-weight:bolder;
}


.delete-drop-zone
{
    margin-top:15px;
    border:4px dashed #c9c9c9;
    text-align:center;
    padding:20px 0 20px 0;
    color:gray;
    font-weight:bold;
    min-height:100px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.regLogo
{
    max-height:150px;
}

#main-carousel
{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    max-height:400px;
    overflow:hidden;
}

#main-carousel .carousel-inner, #main-carousel .item
{
    max-height:400px;
}

#main-carousel .carousel-caption
{
    color:#777 ;
    font-size:14px ;
}

.contactUsRow
{
    margin-top:20px;
}

#annTbl tbody tr td:hover
{
    cursor:pointer;
}

#tagDisplay
{
    display:block;
    float:none;
    clear:none;
    margin-top:20px;
}

#tagDisplay label
{
    float:left;
    margin-right:5px;
}

#tagDisplay label:hover
{
    cursor:pointer;
}

#tagDisplay p
{
    float:none;
    display:block;
}

.package
{
    margin-bottom:25px;
}

.blogStatus
{
    margin-top:5px;
    font-size:14px;
}

.addNewCard
{
    margin-left:auto;
    margin-right:auto;
}

.pad-top
{
    padding-top:30px;
}

.pad-left
{
    padding-left:15px;
}

.mar-left
{
    margin-left:15px;
}

.mar-right
{
    margin-right:15px;
}

.approvalLvl
{
    margin-top:30px;
    margin-bottom:10px;
}

.docBody
{
    color:#777;
}

.calendarEvent:hover
{
    cursor:pointer;
}

.eventMap
{
    width:100%;
    height:300px;
}

.color-picker
{
    width:100px;
}

iframe.youtubeIframe
{
    border:none;
    height:390px;
    width:640px;
}

.youtubeVideoContainer
{
    margin-top:20px;
    margin-bottom:20px;
}

.cartItemName
{
    font-size:20px;
    font-weight:bold;
}


.noteDetails
{
    float:none;
    padding-top:15px;
    padding-bottom:15px;
    font-size:1.2em;
    font-weight:bold;
    width:100%;
    border-top:1px solid #eee;
}

.noteImg
{
    float:left;
    margin-right:15px;
    margin-bottom:5px;
}

.text-muted2
{
    color:#eee;
}

.priceLbl
{
    color:#178216;
    font-size:24px;
}

.priceLbl .cents
{
    color:#178216;
    display:inline;
    font-size:12px;
    padding-top:14px;
}

.helpBtn
{
    color:#8585DD !important;
}

dl.pricedl
{
    font-size:13px;
}

dl.pricedl dd
{
    font-size:16px;
}

.imgItemName
{
    font-size:10px;
}

.receiptTop
{
    text-align:center;
}

.regH2
{
    margin-top:5px;
}

.fbLoginBtn
{
    padding-top:7px;
}

.fbBtnContainer
{
    text-align:center;
    margin-top:30px;
}

span.specialTxt
{
    color:#20224F;
    font-size:14px;
}

.fbLoginBtnContainer
{
    margin-top:15px;
    text-align:center;
}

.blogDate
{
    margin-bottom:10px;
    color:#858584;
    font-size:0.9em;
}

.blogContent
{
    float:none;
    width:100%;

    min-height:105px;

    font-size:0.8em;
}

blockquote.blog:hover
{
    border-top:1px solid #FFF996;
    border-right:1px solid #FFF996;
    border-bottom:1px solid #FFF996;
    border-left-color:#FFF996;
    cursor:pointer;
    background:#fffdc8;
}

blockquote.blog h3
{
    margin-top:0px;
    margin-bottom:15px;
}

.facebookReg
{
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}

.cursorPointer:hover
{
    cursor:pointer;
}

.calendar
{
    display:table;
    border-collapse:collapse;
    width:100%;

}

.calendar .row
{
    display:table-row;
    margin-left:0;
    margin-right:0;
    overflow-x: hidden;
}

.calendar .dayHeader
{
    font-size:1.2em;
    font-weight:bold;
    text-align:center;
    margin:0 0 0 -1px;
    float:left;
    padding:5px 0 ;
    width:14.25%;
    display:table-row;
    border:1px solid #DDD;
}

.calendar .day-container
{
    display:table-cell;
    border:1px solid #DDD;
    min-height:110px;
    background:white;
    padding:5px;
    width:14.25%;
    float:left;
    margin:-1px 0 0 -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow:visible;
    z-index:100;
}

.calendar .today
{
    background:#fffdc8;
}

.calendar .calDay
{
    font-weight:bold;
    font-size:12px;
    float:right;
    margin-right:-6px;
    margin-top:-6px;
    border:1px solid #DDD;
}

.calendar .calDay
{
    color:#777;
    border-radius: 0;
    padding:1px 5px;
}

.calendar .calendarEvent
{
    position:relative;
    display:inline-block;	
    text-align:left;
    border-radius: 0;
    z-index:999;
}

.calendar .unavail-day
{
    background:rgb(250,250,250);
}

#eventModalDetails
{
    font-size:0.9em;
    font-weight:300;
}

#eventModalDetails dt
{
    width:100px;
}

#eventModalDetails dd
{
    margin-left:100px;
    margin-bottom:10px;
}


.modal-header h3
{
    margin:0;
}

.cal-row
{
    margin-left:0;
    margin-right:0;
}

.eventMap
{
    width:100%;
    height:300px;
}


/*---- End calendar styles ----- */

/*---- Start styles for events ---*/

.timedash
{
    font-size:1.4em;
    font-weight:bolder;
    text-align: center;
    margin-bottom:-26px;
    padding-top:10px;
}

#createEventModal h5
{
    color: black;
    margin-top:15px;
    margin-bottom:5px;
}

#createEventModal .row:nth-child(8), #createEventModal .row:nth-child(9), #createEventModal .row:nth-child(10), #createEventModal .row:nth-child(11),#createEventModal .row:nth-child(12)
{
    margin-bottom:15px;
}

.eventInputMargin
{
    margin-bottom:15px;
}

.eventCheckboxes .checkbox
{
    display:inline-block;
}

.eventCheckboxes .checkbox:first-child
{
    margin-right:15px;
}


.repeatWeekSelect
{
    width:100px;
    display:inline-block;
    margin-right:15px;
}

.weekdayRepeatCheckbox
{
    display: inline-block;
    margin-right:10px;
}

.weekdayRepeatCheckbox:hover
{
    cursor: pointer;
}

.occurrencesTxt
{
    display:inline-block;
    width:130px;
    margin-left: 10px;
    margin-right: 10px;
}

#repeatCheck
{
    text-transform: uppercase;
}


.calendarEvent:hover
{
    cursor:pointer;
}

.eventContainer
{
    position:relative;
    display:inline-block;
    box-sizing: border-box;
}

/*--- end of styles for events ---*/


/* ---- start of styles for user photos --- */

.album-container
{
    width:100%;
    display: table;
}
.album
{
    width:250px;

    min-height:150px;
    background-color: #FFF;
    border:1px solid #c9c9c9;
    padding:10px;

    float:left;
    display: table-cell;

    margin-right:15px;
    margin-bottom:15px;
}

.album-preview
{
    background-color: #E1E1E1;
    height:150px;
}

.album-preview:hover
{
    cursor: pointer;
    background-color: #e0deff;
}

.album-preview .fa
{
    height:100%;
    width:100%;
    font-size:7em;
    color:#c1c1c1;
    text-align: center;
    margin-top:30px;
}

.album-preview .fa:hover
{
    color:#c9c6ff;
}

.album-name
{
    color:#0D54D7;
    font-weight:bold;
    text-transform: uppercase;
}

.album-row
{
    margin-bottom:15px;
}

#photo-post-container
{
    min-height: 150px;
}

#photo-post-container .col-md-8
{
    padding-bottom: inherit;
    padding-top:inherit;
    border: none;
    box-shadow: inherit;
    background: none;
}

#photo-post-container textarea
{
    height:150px;
    border:none;
    resize: none;
    box-shadow: none;
}

.album-row h2
{
    margin-top:0;
    margin-bottom: 0;
}

/* ---- end of styles for user photos --- */

/* ---- start of styles for stream --- */

#masonry-container .item
{
    width: 350px; 
    padding:10px;
}

img.post-img
{
    float:left;
    margin-right:10px;
}

img.comment-img
{
    float:left;
    display: inline-block;
    position: absolute;
}

.wallpost-container
{
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

.wallpost
{
    background-color: #F5F5F6;
    padding-top:15px;
    border:none;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding:15px 15px 15px 15px;
    margin-bottom:0px;
}

.wallpost-name
{
    text-transform: uppercase;
    font-size:1.1em;
    font-weight:bold;
}


.post-body
{
    float:none;
    margin-top:15px;
    color:#777;
}

.comment-body
{
    float:none;
    margin-top:10px;
    color:#777;
}

.comment-container
{
    padding:10px 15px 10px 15px;
    background-color: #EEE;
    border-bottom:1px solid #DDD;
    color:#777;
    border-bottom:1px solid #DDD;
}

.comment-new-container
{
    padding:15px 15px 5px 15px;
    background-color: #EEE;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
}

.comment-new-container textarea
{
    border-radius: 0;
    resize: none;
    border:none;
    min-height:40px;
    height:40px;
}
.post-photo-container
{
    margin-top:15px;
}

.post-photo-container-single
{
    margin-top:15px;
}

.like-container
{
    padding:5px 15px 5px 15px;
    background-color: #EEE;
    border-bottom:1px solid #DDD;
    color:#777;
}
/* ---- end of styles for stream --- */


.photo-modal
{
    overflow-y: hidden;
}

.photo-modal .modal-dialog
{
    width:auto;
    padding-left:30px;
    padding-right:30px;
}

.photo-modal .modal-content
{
    border-radius: 0;
    background-color:white;
    min-height: 400px;
}

.photo-modal .modal-body
{
    padding:0px;
}

.photo-modal .modal-body .img-bg
{
    background-color: black;
    padding:0;
    text-align: center;
    margin-bottom:0 !important;
}

.photo-modal #photo-img
{
    margin:0 auto;
}

.photo-modal .modal-body .photo-content
{
    margin-left:0;
    margin-right:0;
}

.photo-modal .modal-header
{
    padding:0 15px 0 0;
    min-height: inherit;
}

#dyn-ajax-loader
{
    margin:0 auto;
    display: block;
}

#stream-display a
{
    outline:none;
}

#stream-display a canvas
{
    position: relative;
    top:50%;
    margin-top:-40px;
}

#photo-info-display
{
    padding-top:15px;
    padding-bottom:15px;
}

.photo-modal .close
{
    display: inline;
    position: absolute;
    right: 10px;
    z-index:999;
    top:5px;
}

.photo-modal .slimScrollDiv
{
    margin-left:-15px;
    margin-right:-15px;
}

.photo-modal .wallpost-actions
{
    margin:15px 0px 10px 0px;
}

.photo-modal .photo-actions
{
    width:100%;
    height: 40px;
    margin-top:-40px;
    position: absolute;
    z-index:500;
    bottom: 0;
}

.photo-modal .actions-bg
{
    width:100%;
    height:40px;
    margin-top:-40px;
    z-index:300;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.photo-modal .photo-actions button
{
    height:40px;
    color:white;
    opacity: 1;
}

.photo-caption
{
    color:#777;
    float:none;
    margin-top: 15px;
}

.photo-modal #caption
{
    max-height: 400px;
}

#photosTab .photo-actions
{
    margin-bottom:15px;
}

#photosTab .photo-actions h2
{
    margin-top:0;
    margin-bottom:0;
}

.photo-modal .comment-new-container
{
    margin-left:-15px;
    margin-right:-15px;
    padding-bottom:15px;
    background-color: #F5F5F6;
    border-radius: 0;
}

.photo-modal .comment-new-container textarea
{
    box-shadow: none;
    display: inline;
}

.ct-container
{
    width:100%;
    display:inline-block;
    padding-left:50px
}

.photo-modal .ct-container
{
    display: inline;
    float:left;
    margin-top:-40px;
}

#masonry-container
{
    width:100%;
}

img.photo-img
{
    float:left;
    display: inline-block;
    clear:right;
}

.photo-settings
{
    border: none;
    margin-top: -70px;
    right:0;
    left:auto;
    border-radius: 0;	
    padding:5px 0 5px 0;
}

.photo-settings li
{
    text-align: left;
}

.photo-settings > li > a
{
    font-size:0.8em;
    padding:2px 0 2px 5px;
}

.photo-settings > li > a > i
{
    margin-left:5px;
    margin-right:5px;
}

#dyn-ajax-loader
{
    margin:0 auto 0 auto;
    display: block;
}

#test
{
    width:500px;
    height:500px;
    background-color: green;
    border:3px dashed gray;
}

.loader-backdrop
{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    position: relative;
    top:0;
    left:0;
    z-index:500;
}

.loader-container
{
    display: inline-block;
    height: 100%;
    width:100%;
    position: relative;
    float:left;
    top:0;
    left:0;
    z-index:9999;
}

.loader {
    background-color: white;
    padding-top:30px;
    margin:0 auto 0 auto;
    width:150px;
    height:150px;
    display: block;
    border-radius: 6px;
    position: relative;
    top:35%;
}

.dashboard-grid
{
    width:100%;
    height:100%;
    position: relative;
}

.dashboard-grid #gridUL
{
    list-style-type: none;
    padding:0;
    width:100%;

    height:100%;
    position: static;
}

.dashboard-grid #gridUL > li
{
    position: absolute;
}

.dashboard-grid #gridUL > li button.close
{
    margin-right:5px;
}


#dash-actions
{
    margin-left: 15px;
}

#tree
{
    max-height: 500px;
    border:none !important;	
}

.drag-email-container
{
    color: #f39814;
    height: 30px;
    width: 30px;
    z-index:4000;
    display: block;
    position: absolute;
}

.drag-email-container  i.fa
{
    font-size:1.6em;
    opacity: 0.5;
}

/*
** Signup Form
*/

.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.signupcontainer {
    background-color: #eeefed;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #000;
    width: 100%;
    min-height: 400px;
    margin-top: 20px;
    padding: 25px 10px;
}

.signupheadercontainer {
    padding-bottom: 15px;
}

.signupheader {
    text-align: left;
    color: #49a8ab;
    font-size: 20px;
}

.signupcontainer input,
.signupcontainer textarea {
    border-radius: 3px;
    background-color: white;
    border: none;
    width: 100%;
    line-height: 26px;
}

.signupcontainer #terms {
    width: auto;
}

.signupcontainer #ccexpm,
.signupcontainer #ccexpy {
    width: inherit;
}

.signupcontainer .emailinfo {
    text-align: center;
}

.signupcontainer .inputfield {
    padding-top: 10px;
}

.signupcontainer .inputfield label {
    color: #b5b0af;
    font-weight: normal;
    font-size: 14px;
}

.left-panel {
    border-right: 2px solid #b7b7b8;
    padding-bottom: 20px;
}

.right-panel {

}

#navLoginBtn {
    margin-top: 16px;
}

.navbuttons {
    margin: 10px 5px;
}

.btn-green {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFF;
    background: none repeat scroll 0% 0% #7C9F03;
    font-weight: bold;
}

.btn-red {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFF;
    background: none repeat scroll 0% 0% red;
    font-weight: bold;
}

.invitebuttondiv {
    width: 150px;
    margin: 50px auto;
}

.invitebutton {
    border-radius: 5px;
    background: #cae1cc;
    border: 2px solid #39805e;
    color: #39805e;
    padding: 6px 20px;
    margin-top: 10px;
    font-size: 16px;
    background: transparent;
}

#domain {
    font-size: 24px;
    margin-top: 50px;
}

.inner-nav {
    position: relative;
    height: 410px;
}

.inner-nav .container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#sliderOuter {
    width: 1180px;
    padding: 10px 5px;
    margin: 0 auto;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {  
    text-align: center; 
}

.emailEdit {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}