
/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) 
{

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 
{


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) 
{
	body
	{
		font-size:1.2em;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.row
	{
		margin-left: 0;
		margin-right: 0;
	}
	div[class*='col-']
	{
		padding-left:5px;
		padding-right:5px;
	}
	
	
	.intranet .container .row
	{
		margin-left:0px;
		margin-right: 0px;
	}
	
	.footer .container
	{
		margin-left:0px;
		margin-right: 0px;
	}
	
	.wrapper .container
	{
		margin-left:5px;
		margin-right:5px;
		padding-left:0px;
		padding-right:0px;
	}
	
	h1
	{
		font-size:2em;
	}
	
	h2
	{
		font-size:1.8em;
	}
	
	h3
	{
		font-size:1.4em;
	}
	
	h4
	{
		font-size:1.2em;
	}
	
	.navbar-brand
	{
		font-size:1.2em;
	}
	.nav > li
	{
		display: inline-block;
	}
	
	#portSort li.widget div[class*='col-']
	{
		padding-left:0;
		padding-right:0;
	}
	
	

	

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) 
{
	.navbar-brand
	{
		font-size:1em;
	}

	
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px)
{

}