
#sitemap
{
	overflow: hidden;
	position: relative;
}

.path-lbl-container
{
	span.label::before
	{
		color:@muted;
		content: "/";	
		padding:0 5px;
	};
	
	span.label
	{
		margin:0 0 0 -5px;
		color:@color;
		background: none;
		padding:0;
	};
	
	span.label:hover
	{
		cursor: pointer;
		color: #b7bf19;	
	};
};


#editor
{
	.placeholder
	{
		i.fa
		{
			clear:none;
			display: block;
			font-size:3.2em;
			margin-bottom:@margin;
		}
		
		display:table;
		padding:@padding;
		
		height: 400px;
		text-align: center;
		
		font-size: 3em;
		color:@muted;
		border-radius: @borderRadius;
		border: @borderReallyThick dashed @borderColor;
		
		span
		{
			display: table-cell;
			vertical-align: middle;
			text-align: center;	
		};
	};
	
	#head
	{
		margin-bottom:@margin;
	}
};