
.dashboard-widget,
.dashboard-widget .btn
{
	font-size: 0.8em;
}

/* padding */
.dashboard-widget .well,
 .dashboard-widget .table > tbody > tr > td,
 .dashboard-widget .table > thead > tr > th, 
 .dashboard-widget .table > tbody > tr > th, 
 .dashboard-widget .table > tfoot > tr > th, 
 .dashboard-widget .table > thead > tr > td, 
 .dashboard-widget .table > tbody > tr > td, 
 .dashboard-widget .table > tfoot > tr > td,
.dashboard-widget .btn
{
	padding:5px;
}

.dashboard-widget .drag-icon
{
	font-size:2em;
}

.dashboard-widget
{
	font-size: 0.8em;
	height:inherit;
	display: block;
	overflow: hidden;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

.dashboard-widget-header
{
	background: #c9c9c9;
	cursor: move;
	padding:5px;
	display: block;
	
	width:100%;
	min-height: 30px;
	
	button.close-widget
	{
		float:right;
		border:none;
		color:white;
		
		padding:0px 15px;
		margin-top:-5px;
		background:#C85051;
	};
	
	.widget-name
	{
		font-weight: bold;
	}
};

.dashboard-widget.active .dashboard-widget-header
{
	background-color: #a2a2a2;
}




.dashboard-widget-body
{
	overflow: auto;
	position: relative;
	//background-color: white;
	height:calc(100% - 30px);
	
	width:100%;
	
	.display-scroll
	{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	};

	iframe
	{
		width:100%;
	
		height: 100%;
		border:none;
		box-shadow: none;
		
		z-index:500;
	};

	.display, .expand-display
	{
	
		padding-left: 15px;
		padding-right: 15px;
		
		width:inherit;
		position: relative;
		
		height: inherit;
		
		z-index: 500;
	
		display: block;
		
		overflow:hidden;
		
	};

	.dashboard-widget-toolbar
	{
		opacity: 0;
		width:100%;
		
		background: #F6F6F6;
		height: 40px;
		position: absolute;
		
		z-index: 1000;
		
		overflow: hidden;
	    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);
	    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.1);
	    box-shadow:0 1px 2px rgba(0,0,0,0.1);
	    
	    input
	    {
			min-width: 200px;
			border:none;
			padding:5px;
			width: 30%;
	    };
	
		.url-group
		{
			width: 30%;	
		};
	};

};







.dashboard-widget-footer
{
	z-index: 1030;
	
	.progress
	{
		height: 5px;	
		margin-top:-5px;
		border-radius: 0;	
	};
};



.dashboard-container
{
	position: relative;
	height: 100%;
	width: auto;

}


.widget-btn
{
	background: none;
	padding:5px 15px;
	border:none;

	height: 40px;
}

.widget-btn:disabled
{
	color:#cdcdcd;
}