
.layout-bg-input-group
{
	margin-bottom: 15px;
}

iframe.layout-preview
{
	width:100%;
	min-height: 600px;
	border:1px solid @borderColor;
	border-radius: @borderRadius;
	overflow-x: hidden;
	overflow-y: scroll;
}

.panel.min
{
	.panel-heading
	{
		padding:5px 10px;
	}	
};

/*
.preview-container
{
	//display: table;
	width: 100%;
	min-height: 200px;
	border-bottom:1px solid #ddd;
	
	.preview:before
	{
	
		content:'PREVIEW';
	
	};
	
	.preview
	{
		font-size: 3em;
		font-weight: bold;
		opacity: 0.1;
		vertical-align: middle;
		text-align: center;
	
		position: absolute;
		float:none;
		width: 100%;
		display: table-cell;
		height: 200px;
	};
	
	.preview-content
	{	
		width: 100%;
		min-height: 200px;
	};

}
*/