

#menu-li
{
	.btn-group
	{
		.btn
		{
			opacity:0.75;
		};
	};

	.menu-panel
	{
		.navbar.subnav
		{
			border-radius: 0;
			border-left: none;
			border-right: none;
			border-top: none;
		}
		
		.panel-footer
		{
			background: none;
			padding:0;
			border:none;
		
			.module-drop-zone
			{
			    border:1px dashed @borderColor;
			    text-align:center;
			    padding:20px 0 20px 0;
			    color:#c4c1c1;
			    font-weight:bold;

				.borderRadius(0, @borderRadius, @borderRadius, 0);
			};
			
			.module-drop-zone-hover
			{
				background-color: @highlight;	
			}
		};
	};
};