
@fontsize:1em;
@menuFont:0.8em;
@smFont:0.7em;
@color: #aeaeae;
@muted: #CCCCCC;

//@borderColor:#DDD;
@borderColor:#ebebeb;

@borderRadius:4px;
@borderThickness:1px;
@borderReallyThick:4px;

@highlight:#fcf8cb;

@arrowSize:5px;
@arrowColor:#333;

@marginBottom:15px;
@marginTop:15px;
@marginLeft:15px;
@marginRight:15px;

@padding:15px;
@thinPadding:5px;

@margin:15px;
@thinMargin:5px;

@disableOpacity:0.4;

@placeholder:#b9b9b9;

@inputColor:#333;

/** -- colors -- **/
@success:#32CD32;
@danger:#FF0000;
@info:#94a2ff;


@headingColor:#de1f26;





.font
{
	color: @color;
	font-size:@fontsize;
}

.input
{
	color:@inputColor;
	font-weight: 400;
}

.uc
{
	text-transform: uppercase;
};

.shadow
{
	
	-webkit-box-shadow: 1px 1px 5px 2px #C4C4C4;
	-moz-box-shadow: 1px 1px 5px 2px #C4C4C4;
	box-shadow: 1px 1px 5px 2px #C4C4C4;
}

.opacity(@o:1)
{
	//@ieo = @o * 100;

	/*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{@ieo})"; */

  //filter: alpha(opacity=@ieo); // IE 5-7
  
  /* Modern Browsers */
  opacity: @o;
};

h1, h2, h3, h4, h5, h6
{
    color:@headingColor;
    font-weight:400;
    line-spacing:-1px;
    margin-bottom:15px;
};


.borderRadius(@tl:@borderRadius, @bl:@borderRadius, @br:@borderRadius, @tr:@borderRadius)
{

	//-webkit-border-radius:@tl @tr @br @bl;
	//-moz-border-radius:@tl @tr @br @bl;
	//border-radius:@tl @tr @br @bl;
	
	-webkit-border-top-left-radius: @tl;
	-webkit-border-bottom-left-radius: @bl;
	-webkit-border-bottom-right-radius: @br;
	-webkit-border-top-right-radius: @tr;

	//-moz-border-radius:@borderRadius;
	-moz-border-radius-topleft: @tl;
	-moz-border-radius-bottomleft: @bl;
	-moz-border-radius-bottomright: @br;
	-moz-border-radius-topright: @tr;
	
	//border-radius:@borderRadius;
	border-top-left-radius: @tl;
	border-bottom-left-radius: @bl;
	border-bottom-right-radius: @br;
	border-top-right-radius: @tr;

};

.fullscreen(@pos, @z:9999)
{
	position: @pos;
	width: 100%;
	height: 100%;
	z-index: @z;
	top:0;
	left:0;
	bottom: 0;
	right:0;
};

.caret-common
{
	  display: inline-block;
	  width: 0;
	  height: 0;
	  margin-left: 2px;
	  vertical-align: middle;

}

.caret
{
	.caret-common;
	
	border-top:   @arrowSize solid;
	border-right: @arrowSize solid transparent;
	border-left:  @arrowSize solid transparent;
}

.caret-up
{
	.caret-common;
	
	border-top: 0;
    border-bottom: @arrowSize solid;
    
	border-right: @arrowSize solid transparent;
	border-left:  @arrowSize solid transparent;

    content: "";
}

.caret-right
{
	.caret-common;
	
	border-left: @arrowSize solid;
	border-right: 0;
	border-top: @arrowSize solid transparent;
	border-bottom:  @arrowSize solid transparent;
}


.caret-left
{
	.caret-common;
	
	border-left: @arrowSize solid;
	border-right: 0;
	border-top: @arrowSize solid transparent;
	border-bottom:  @arrowSize solid transparent;
}


.close-alert
{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	padding:0;
	cursor: pointer;
	color:#000;
	float: right;
	font-size: 16px;
	opacity: 0.2;
	line-height: 1;
	text-shadow: 0 1px 0 #fff;
}

.helper
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/** for fancytree */
.folder-icon
{
	position: relative;
};

.folder-icon-before(@content)
{
	position: absolute;
	font-family: FontAwesome;

    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content:@content;
	
	top:0;

	left:22px;
};

.danger
{
    color:@danger;
};

.success
{
	color:@success;
};

.info
{
	color:@info;
};

.transition(@t)
{
	-webkit-transition: @t;
	-moz-transition: @t;
	-o-transition: @t;
	-ms-transition: @t;
}

.bgSize(@bgSize:cover)
{
	-webkit-background-size: @bgSize;
	-moz-background-size: @bgSize;
	-o-background-size: @bgSize;
	background-size: @bgSize;
};
