@previewMetaFontSize:1.1em;
@previewMetaFontWeight:400;

/*
.trash-folder
{
	position: relative;
}

.trash-folder:before
{
	position: absolute;
	font-family: FontAwesome;

    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	content:"\f014";
	
	top:0;

	left:25px;
}

.trash-folder .fancytree-icon
{
	background: none;
}
*/


.msg-to-lbl
{
	background: #f5f5f5;
	border: 1px solid @borderColor;
	
	//.uc;
	color: #333;
	font-weight: 500;
	
    padding:3px 6px;
    
    button.close
	{
		font-size: 1.4em;

		margin-left: 12px;
		float:none;
		line-height: 10.5px;
	};

    
    /*
    margin-bottom:3px;
    margin-right:3px;
    */
}

/*
.msg-to-lbl label
{


	margin-top: 3px;
}
*/

.inbox-folder,
.junk-folder,
.outbox-folder,
.sent-folder,
.drafts-folder,
.trash-folder,
.folder-folder
{
	.folder-icon;
}


.inbox-folder .fancytree-icon,
.junk-folder .fancytree-icon,
.outbox-folder .fancytree-icon,
.sent-folder .fancytree-icon,
.drafts-folder .fancytree-icon,
.trash-folder .fancytree-icon,
.folder-folder .fancytree-icon
{
	background: none;
}

.inbox-folder:before
{
	.folder-icon-before("\f01c");
}


.junk-folder:before
{
	.folder-icon-before("\f1e2");
}

.outbox-folder:before
{
	.folder-icon-before("\f044");
}



.drafts-folder:before
{
	.folder-icon-before("\f044");
}

.sent-folder:before
{
	.folder-icon-before("\f135");
}

.trash-folder:before
{
	.folder-icon-before("\f014");
}

.folder-folder:before
{
	.folder-icon-before("\f114");
}

.composeBtn
{
	margin-bottom: 15px;
}



.composeForm
{
	height: 100%;
}

.msg-container
{

    margin-top:20px;
    width: 100%;
    margin: 0;
    
    #folder-tree-display
    {
    	padding-right: 0;
    	padding-left: 0;
    	width: auto;
		display: table-cell;
		height: 100%;
		overflow: hidden;
		

		
		.msg-folders
		{
			height: 100%;
			position: relative;
			//overflow: hidden;
			margin-right: @thinMargin;
		
			#tree-scroll
			{
				height: 100%;
				position: relative;
				overflow: hidden;	
			};
		};
		
		
    };
    
    #msg-list-display
    {
	  	display: table-cell;
	  	overflow: hidden;
	  	position: relative;
	  	padding-left:0px;

	  	height: 100%;
	  	
	  	//padding-right: 15px;
	  	padding-right: 0px;
	  	
	  	#folder-content-scroll
	  	{
		  position: relative;
		  height: 100%;	
	  	};
    };
    
	  	
  	#msg-preview
  	{
	  	padding:0;
	  	margin:0;
	  	float: right;
  	};
  	
  	.ps-scrollbar-y-rail
  	{
	  right:0px;	
  	};
};


#msg-preview, .msg-window
{
    overflow:hidden;
	height:100%;
	font-size: @fontsize;
	display: table-cell;
	margin-bottom: 0;
	
	blockquote
	{
		font-size: @fontsize;
	};
	
	.inner
	{
		overflow: hidden;
		height: 100%;
		margin-left: 5px;
	};
	
	#msg-preview-scroll
	{
		
		position: relative;
		height: 100%;
		//padding-left: @thinPadding;
		
		#msg-preview-content
		{
			padding: @thinPadding;
			display: inline-table;
			height: 100%;
			width: 100%;
							
			.well-white
			{

				margin-bottom: 0px;	
			};
		};
		
		
	};
	
	hr
	{
		margin-top: 15px;
		margin-bottom: 15px;
	};
	
	h4
	{
		font-weight: @previewMetaFontWeight;
		font-size:@previewMetaFontSize;
		color:@color;
	};
	
	.from
	{
		margin-top:0;
		margin-bottom:10px;	
	};

	.subject
	{
		margin-top:10px;
		margin-bottom: 0;	
	};
	
	.datestamp
	{
		float:right;
		font-weight: @previewMetaFontWeight;
		font-size:@previewMetaFontSize;
	};
	

};

.msg-to
{
    padding-top:0px !important;
}

.msg-to-container
{
	padding-top:0px;
	padding-bottom: @thinMargin;
	margin-bottom:@thinMargin;
	border-bottom: 1px solid #d9d9d9;
}

.msg-to-row
{
	//display: table-cell;
	//width: 100%;
	font-weight: @previewMetaFontWeight;
	margin-bottom: @thinMargin;
	font-size: @previewMetaFontSize;
}
.msg-to-col
{
	text-align: right;
	font-weight: bold;
	font-size: 1em;
	padding: 0;
	//text-transform: uppercase;
}

.preview-scroll
{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: block;
	
	.well-white
	{
		margin-bottom: 0;	
	};
};



blockquote.msg
{
    margin-bottom:5px;
    border-bottom:1px dashed #dcdcdc;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding:5px;
    
    overflow: hidden;
}

blockquote.msg:last-child
{
	margin-bottom:0px;
};


blockquote.msg > div[class*='col-']
{
	padding-left:0;
	padding-right: 0;
}

blockquote.unread
{
    border-color:#1e00ff;
}

blockquote.msg span
{
	font-size:@smFont;
}

blockquote.msg p
{
	font-size:@smFont;
    margin-bottom:0px;
}


blockquote.msg h4
{
    font-size:14px;
    margin-top:0px;
    margin-bottom:2px;
}


blockquote.msg:hover
{
    background: #FEE9B2;
    cursor:pointer;


    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;

}

#msg-folder-content
{
	padding:@thinPadding;
	
	.ui-selecting { background: #FECA40; };
	
	.ui-selected
	{
	    background: #F39814;
	    color: white;
	    
	    .opacity(0.9);
	}
	

};

.msg-date-header
{
	padding:5px;
	margin-bottom: 5px;

}

.msg-date-header h5
{
    margin-top:0px;
    margin-bottom:0px;
}

.dl-msg-to dt
{
    width:60px;
}

.dl-msg-to dd
{
    margin-left:80px;
}

.reply-icon
{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

p.unread
{
    font-weight:bold;
}

.msg-folders
{
	padding:@thinPadding;
	.borderRadius(@borderRadius, @borderRadius, @borderRadius, @borderRadius);
};


#compose-controls
{
	.form-group
	{
		margin-bottom: @thinMargin;
	
		> .control-label
		{
			padding-right:0;
			
		};
	};
};