#main-top-nav .navbar-nav > li > a
{
	font-size:@menuFont;
	padding-left:10px;
	padding-right:10px;
}



.navbar
{
	.nav
	{
		> li
		{
			.divider
			{
				display: block;	
			};

			.active
			{
				background:#f9f9f9;
				.shadow;
			};


			.dropdown-menu
			{
				/*
				::before, ::after
				{
					display: none;	
				};
				*/
				
				.borderRadius(@borderRadius, @borderRadius, @borderRadius, @borderRadius);
				border:1px solid #ccc;
				left:-1px;
				min-width:200px;
				margin:-1px 0 0;
				z-index:9991;
				padding:0;
				
					> li
					{
						width: 100%;
						display: table;
						font-size: @menuFont;
						
						
							display: inline;
							//color:green;
						a
						{
							display: block;
							padding:10px;
							width:100%;
							
							color: @color;
						};
						
						a:hover, a:focus
						{
							text-decoration: none;
							background: #f9f9f9;
							color: @color;
						};

						> button
						{
							display: block;
							text-align: left;
							padding:10px;
							font-size: 0.8em;

		
						};
						


					
					};
					
					> li:hover
					{
						background:#f9f9f9;
						//color:#555;
					};
							

			};
			
			.dropdown-menu.not-menu-container
			{
				> li
				{
					a:focus, a:hover
					{
						background: none;	
					};
				};
			};
		};
	};
	
	.divider-vertical
	{
		background:#eee;
		border-left:0;
		border-right:0;
		height:30px;
		margin:25px 15px;
		width:1px;
	}

	.notification
	{
	    opacity:0.2;
	    filter:alpha(opacity=20);
	};
	
	.navbar-brand
	{	
	    overflow:hidden;	
	    height:40px;
	}
};



.dropdown-menu //> li > button
{

	

}



.navbar .nav>li.active>a,.navbar .nav>li.active>a:hover,.navbar .nav>li.active>a:focus
{

//-webkit-box-shadow:0 0 2px rgba(0,0,0,0.1) inset;
//-moz-box-shadow:0 0 2px rgba(0,0,0,0.1) inset;
//box-shadow:0 0 2px rgba(0,0,0,0.1) inset
}

.navbar .nav>li.dropdown.open>.dropdown-toggle,.navbar .nav>li.dropdown.active>.dropdown-toggle,.navbar .nav>li.dropdown.open.active>.dropdown-toggle
{
background:#fff;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
padding-left:14px;
padding-right:14px;
position:relative;
z-index:9999
}

/*
.navbar .nav>li>.dropdown-menu
{



-webkit-border-radius:0 0 3px 3px;
-moz-border-radius:0 0 3px 3px;
border-radius:0 0 3px 3px;


}


.navbar .nav>li>.dropdown-menu::before,.navbar .nav>li>.dropdown-menu::after
{
display:none
}

.navbar .nav>li>.dropdown-menu li>a
{

}
*/

/*
.navbar .nav.nav-icons > li > a
{
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
color:#777;
font-weight:bold;
padding:5px;
margin:15px 5px
}

.navbar .pull-right>li>.dropdown-menu,.navbar .nav>li>.dropdown-menu.pull-right
{
right:0;
left:auto
}




.navbar-search
{
margin:15px 0 0 0
}

.nav-user>a
{
height:20px
}

.navbar a.title 
{
    max-width:400px;
}



*/

// subnav

.navbar.subnav
{
	margin-bottom:@margin;
	
	min-height: 30px;
	
	.container-fluid
	{
		padding-left: 0px;
		padding-right: 0px;
		
		.navbar-collapse
		{
			padding-left: 0px;
			padding-right: 0px;	
		};
	};
	
	a
	{
		line-height: 1.42857;
		padding:6px 12px;	
	};
	
	.form-control
	{
		padding:3px 6px;
		height: 25px;
	}
	
	.navbar-form
	{
		margin-top: 4px;
		margin-bottom: 0;
		
		.btn
		{
			padding:3px 6px;
			height: 25px;
		}
	}
	
	.navbar-toggle
	{
		margin:0;
	};
	.navbar-btn
	{
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: 100;
	};
	
	a{
		font-weight: 100;
	}
};



.nav-tabs
{
    margin-bottom:15px;
}

.subnav .pull-right
{
	margin-left:15px;
}

