.not-menu-container 
{
	padding-top:0;
	padding-bottom:0;
    min-width:380px;
    width:380px;
    
    min-height:20px;
 
    overflow: hidden;

    li:last-child
	{
		text-align: center;
	};
	
	li > .unread
	{
		background-color: #eef0f6;
	};
	
	li:nth-last-child(2) .notification-container
	{
	    border-bottom:1px solid #edecec;
	};

	.not-header-container
	{
		.not-header
		{
			background-color: #eaeaeb;
			color:#c1c0bf;
			padding:5px 10px;
			
			h4
			{
				margin-top: 0;
				margin-bottom: 0;
				color:#c1c0bf;
			};
		};

		.not-actions
		{
			overflow: auto;
			padding:10px;
			
			div[class*='col-']
			{
				padding-left: 0;
				padding-right: 0;
			}

		};
		
		.not-actions > div[class*='col-']:first-child
		{
			padding-top:5px;
		};

	};



	.notification-container
	{
		padding:5px;
	    font-size:11px;
	
	    overflow: hidden;
	    float: none;
	    margin-left:10px;
	    margin-right:10px;
	    
	    border-left:1px solid #edecec;
	    border-right:1px solid #edecec;
	    border-top:1px solid #edecec;
	    
	    img
		{
			display: inline-block;
			float:left;
			margin-right: 15px;
		};
		
		.from
		{
		    font-size:1.2em;
		    font-weight:bolder;
		};

		.date
		{
		    font-size:0.9em;
		    float:right;
		};
		
		.subject
		{
		    display:block;
		    font-weight:bolder;
		    font-size:1.1em;
		    margin-bottom:3px;
		};

	};
	
	.notification-container:hover
	{
	    cursor:pointer;
	    background-color: @highlight;
	}

};