// CSS overrides for jquery plugins

// data tables
.dataTables_wrapper .dataTables_paginate .paginate_button
{
	margin:0;
	padding:0;
	border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
	background: none;
	border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
{
	border: none;
};

// color picker
.colorpicker
{
	z-index: 999;
}

.strength
{
	background:transparent;
	
	//border: 2px solid #46AC84;
	
	//height: 21px;

	//text-indent: 6px;
	-webkit-appearance: none;

	.borderRadius;
	
	//-webkit-box-shadow: none;
	//-moz-box-shadow: none;
	//box-shadow: none;
	
	-webkit-transition: border .25s linear, color .25s linear;
	-moz-transition: border .25s linear, color .25s linear;
	-o-transition: border .25s linear, color .25s linear;
	transition: border .25s linear, color .25s linear;
	
	-webkit-backface-visibility: hidden;
	position: relative;
	z-index: 500;
	width:100%;
};

// password
.pw_strength_meter
{
	position: absolute;
	top: 0px;
	width: 100%;

	z-index:1;
	
	border:1px solid transparent;
	.borderRadius;
	
	//margin-left: 15px;
	//margin-right: 15px;
	
	padding-right:30px;
	
	div
	{
	    width:0%;

		height: 32px;
		text-align: right;

		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		
		transition: all .3s ease-in-out;
		padding:6px 12px;
		
		.opacity(0.5);
		
		.borderRadius;
			
		p
		{
			//text-transform: capitalize;
			position: absolute;
			top: 32px;
			right: 0;
			padding-right: 30px;
			.font;
		};
	
	};
};

.button_strength
{
	text-decoration: none;
	
	.font;
};

.veryweak
{
    background-color: #FFA0A0;
	border-color: #F04040!important;
	width:25%!important;
};

.weak
{
	background-color: #FFB78C;
	border-color: #FF853C!important;
	width:50%!important;
};

.medium
{
	background-color: #FFEC8B;
	border-color: #FC0!important;
	width:75%!important;
};

.strong
{
	background-color: #C3FF88;
	border-color: #8DFF1C!important;
	width:100%!important;
};

// bootstrap-select
.selectpicker
{
	background-image: none;
};

//fancytree

ul.fancytree-container, ul.fancytree-container:focus
{
	border: none;
	padding:0;
	
	overflow: visible;
	display: table;
	position: inital;
	background: none;

}

.fancytree-treefocus
{
	border:none;
	outline: none;
}
