
@console:#44f444;

.setupProgress
{
	background-color:rgba(0,0,0,0.5);
	.borderRadius(@borderRadius, @borderRadius, @borderRadius, @borderRadius);
	color:@console;
	font-weight: 400;
	
	.input-group
	{
		.input-group-addon
		{
			padding:0px 3px 0px 0px;
			color:@console;
			border-color: transparent;
			box-shadow: none;
			outline: none;
			background:none;
			vertical-align: baseline;
			border-style: none;
			border-width: 0px;
		};

		input, .consoleOutput
		{
			padding:0px 2px;
			margin-bottom: 1px;
			color:@console;
			border-color: transparent;
			.borderRadius(0, 0, @borderRadius, 0);
			background:none;
			border:none;
			box-shadow: none;
			outline: none;
		};

		
		.consoleOutput
		{
			padding:0;
			position: relative;
			display: block;
			z-index: 2;
			width: 100%;
		};
		
	};
		
	.panel-body
	{
		height: 500px;
		padding: 5px 5px 0px 5px;
		
		#console-output
		{
			position: relative;
			overflow: hidden;
			height: 100%;	
		};
	};
	
	.panel-footer
	{
		.input-group
		{
			width:100%;	
		};
		
		.input-group-addon
		{
			padding:0;
			vertical-align: middle;
			.borderRadius(0, @borderRadius, 0, 0);
			border-width: 0px;
			border-style: solid;
			
		}
		
		background:none;
		border-top:none;
		
		padding:0px 5px;

	};
}