html
{
	height: 100%;
};

body
{
	font-family:'Open Sans';
    background:#F4F5F5;
    color:#777;
    font-weight:300;
    
    height: 100%;
};


#site-wrapper
{
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 50px 0 0 0;
};

.wrapper, #temp-wrapper
{
	//position: absolute;
	//height: 100%;
	width:100%;
	overflow: visible;
	
	display: block;
	//display: inline-block;
    background:#FFFFFF;
    color:#777;

    //padding-bottom:15px;

    border-bottom:1px solid #bbb;

	#main-container.container, 	#main-container.container-fluid
	{

		padding-top:15px;
		padding-bottom:15px;

		.borderRadius;
	};
	
	#main-container.container
	{
		margin-top:15px;
		margin-bottom: 15px;	
	};
	
	
	
	#main-container.container-fluid
	{
		//padding-top:15px;
		margin-left:0;
		margin-right:0;
	}



      -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.1);
    box-shadow:0 1px 2px rgba(0,0,0,0.1);

};

.btn:focus
, .btn:active:focus
, .btn.active:focus
, a:focus
{
	outline:none;
}


.form-control
{
	.input;
	
	border-color: @borderColor;
};

.form-control:focus
{
	border: none;
}

.input-group-addon
{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-color: @borderColor;
};

.form-control::-webkit-input-placeholder
{
	color:@placeholder;
}


.form-control:-moz-placeholder
{
	color:@placeholder;
}

.form-control::-moz-placeholder
{
	color:@placeholder;
}


.form-control:-ms-input-placeholder 
{
	color:@placeholder;
}

.navbar
{
	.brand
	{
		color:@color;
		font-weight:bold;
		font-size:20px;
		margin-right:20px;
		padding:20px;
	};

	.navbar-btn, a
	{
		text-transform: none;
		font-weight: bold;
	}

}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn
{
	opacity:@disableOpacity;
};

a.disabled, a[disabled], fieldset[disabled] a
{
	opacity:@disableOpacity;
	cursor:auto;
	text-decoration:none;
	font-weight:auto;
};

.btn.disabled:hover
{
	cursor:not-allowed;
}

.logoAdjust
{
    padding-bottom:0px;
    padding-top:0px;
    height: 50px;
	
	img
	{
		vertical-align: middle;
	}
}

#logo-display
{
	margin-bottom:@marginBottom;
}

.dropdown-btn
{
	color:#333;
	width:100%;
	padding:10px 20px;
	text-transform: none;
	text-align: left;
}

.dropdown-btn:hover
{
	background: #F9F9F9;
	color:#555;
}


// login styles

img.login-logo
{
	max-height: 200px;
	margin-bottom: 20px;
}

.login
{
	.input-group
	{
		.input-group-addon
		{
			background-color: white;
		};
		
		.form-control
		{
			border-left: none;	
		};
	};
};

.search-wrapper
{
	display: inline-block;
	position: relative;

	input.form-control
	{
		padding-right: 30px;
		.transition(all .3s ease-in-out);	
	};
};

.search-wrapper:after
{
	color:#5184a7;
	position: absolute;
	font-family: FontAwesome;
	content: "\f002";
	right:10px;
	top:7px;

}
